/* FONTS */
body {
  font-family: "Open Sans Variable", sans-serif;
}
.myFont {
  font-size: 11px;
  font-weight: bold;
  margin-left: 20px;
}
/* FIRST CONTAINER */
.myContainer {
  background-color: rgba(28, 28, 28);
  padding: 50px;
}
.Maintext {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

/* SECOND CONTAINER */
.blueContainer {
  background-color: rgba(2, 130, 249);
  padding: 40px;
}
.blueSectionImage {
  height: 50px;
  margin-right: 15px;
}
.blueList {
  color: white;
  font-size: 12px;
}
.flexcontainer {
  display: flex;
  gap: 70px;
}
/* THIRD SECTION */
ul {
  list-style-type: none;
}
.listContainer {
  background-image: url(../../../public/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.comicsList {
  color: rgba(108, 112, 114);
  font-size: 10px;
}
.comicsTitle {
  color: white;
  font-size: 20px;
}
.flexList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sndBackground {
  background-image: url(../../../public/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
