body {
  font-family: "Open Sans Variable", sans-serif;
}
.myFont {
  font-size: 11px;
  font-weight: bold;
  margin-left: 20px;
}
.myContainer {
  background-color: rgba(28, 28, 28);
  padding: 50px;
}
.Maintext {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
